.mini-progress {
  width: 320px;
  height: 0.35rem;
}

.song-metadata {
  width: 320px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 576px) {
  .mini-progress,
  .song-metadata {
    width: 50vw;
  }
}

@media (max-width: 476px) {
  .mini-progress,
  .song-metadata {
    width: 40vw;
  }
}
