.content-panel {
  margin-top: 8rem;
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  /*left: 50%;*/
  /*transform: translate(-50%, 0);*/
  width: 100%;
  height: 100%;
}

/*.switch-wrapper > div > div {*/
/*transition: all 100ms ease-in;*/
/*opacity: 0;*/
/*}*/

/*.switch-wrapper > div > div:not(:empty) {*/
/*opacity: 1;*/
/*}*/
