.disabled-button-wrapper {
    display: inline-block;
    cursor: not-allowed;
}

.disabled-button-wrapper .btn[disabled] {
    pointer-events: none;
}

.rbt {
    flex: 1 1 auto;
}

.close {
    display: none
}
