http://radio.local {
	proxy /				localhost:3000 	{ transparent websocket }
	proxy /api			localhost:5000 	{ transparent }
	proxy /radio		localhost:8067 	{ transparent }
	proxy /admin		localhost:8067 	{ transparent }
	proxy /style.css	localhost:8067 	{ transparent }
	proxy /tunein.png	localhost:8067 	{ transparent }
}
